.App {
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 100vh;
  background: #000;
}

.canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0; /* 캔버스를 배경으로 설정 */
}

.content {
  position: absolute;
  z-index: 1; /* 텍스트를 캔버스 위에 배치 */
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 텍스트를 화면 중앙에 배치 */
  pointer-events: none; /* 텍스트가 클릭되지 않도록 설정 */
}
.d {
  position: absolute;
  width: 40%;
  left: -40%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  opacity: 0;
}
.d.o {
  transition: all 3s;
  opacity: 1;
  left: 5%;
}
.di {
  position: absolute;
  width: 40%;
  left: -40%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  opacity: 0;
}
.di.t {
  transition: all 3s;
  opacity: 1;
  left: 5%;
}
.did {
  position: absolute;
  width: 40%;
  left: -40%;
  height: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-items: center;
  opacity: 0;
}
.did.a {
  transition: all 3s;
  opacity: 1;
  left: 5%;
}

.d2 {
  position: absolute;
  width: 40%;
  right: 0%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  opacity: 0;
}
.d2.o {
  transition: all 1s;
  right: 15%;
  opacity: 1;
}
.di2 {
  position: absolute;
  width: 40%;
  right: 0%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  opacity: 0;
}
.di2.t {
  transition: all 1s;
  right: 10%;
  opacity: 1;
}
.did2 {
  position: absolute;
  width: 40%;
  right: 0%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  opacity: 0;
}
.did2.a {
  transition: all 1s;
  right: 10%;
  opacity: 1;
}
